body {
    background-color: #F9F9ED;
    color: #535B8D;
    text-align: center;
    font-family: 'Fira Code';
}

a {
    color: #DA4167;
    text-decoration: none;
}

a:hover {
    color: #83B616;
    text-decoration: line;
}

main {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

h1, h2 {
    font-family: Georgia;
}

p {
    margin-left: 3%;
    margin-right: 3%;
    font-family: sans-serif;
}

figure {
    font-style: italic;
    text-align: center;
}

li {
    padding: 5px 0 5px 0;
}

.introImage {
    width: 51%;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}