<nav>
    <a href="https://webpages.charlotte.edu/eorella5/">Charlotte.edu</a>
    ||
    <a href="https://github.com/eorellanar/eorellanar.github.io">Github</a>
    ||
    <a href="https://eorellanar.github.io/">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/eorella5">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/eorella5">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/orereyesedgar/">LinkedIn</a>
</nav>
<p>Page built by <a href="/itis3135/theorellanacorporation.com/index.html">The Orellana Corporation </a>&copy;2025</p>

<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a style="text-decoration: none;" href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>
<script>
    document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>